{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Commands</h1>
    {% if teams %}
        {% for el in teams %}
            <div class="alert alert-warning mt-2">
                <h3>{{ el.name }}</h3>
                <p>{{ el.description }}</p>
            </div>
        {% endfor %}
        <h1>Participants</h1>
            {% for el in teammates %}
                <div class="alert alert-warning mt-2">
                    <h3>{{ el.name }}</h3>
                    <p>{{ el.command }}</p>
                </div>
            {% endfor %}
    {% else %}
        <p>У нас нет команд!</p>
    {% endif %}
{% endblock %}